@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222222;
}

input {
  outline: none;
  overflow: hidden;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  outline: none;
  overflow: hidden;
  border: none;
}

li {
  list-style-type: none;
}

select {
  outline: none;
  overflow: hidden;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.goods-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid #222222;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 610px;
}

.header__logo {
  width: 165px;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: inherit;
}

.logoName {
  height: 50px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
}

.logoName-letter {
  color: #f16d7f;
  font-weight: 900;
}

.header__browse {
  width: 87px;
  height: 38px;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-right: 0px;
  border-radius: 3px 0 0 3px;
}

.header__browse a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

.header__browse a i {
  color: #838383;
}

.header__browse:hover {
  background-color: #e8e8e8;
}

.header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-form input {
  width: 260px;
  height: 38px;
  border: 1px solid #ececec;
  padding-left: 15px;
}

.header__search-form input::-webkit-input-placeholder {
  color: #a4a4a4;
}

.header__search-form input:-ms-input-placeholder {
  color: #a4a4a4;
}

.header__search-form input::-ms-input-placeholder {
  color: #a4a4a4;
}

.header__search-form input::placeholder {
  color: #a4a4a4;
}

.header__search-form button {
  width: 40px;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-left: 0px;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
}

.header__search-form button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

.header__search-form button i {
  color: #a4a4a4;
}

.header__search-form button:hover {
  background-color: #e8e8e8;
}

.header__rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 188px;
}

.myAccount {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
}

.myAccount a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  color: #fff;
}

.myAccount:hover {
  background-color: #f2576c;
}

.header__line {
  border-top: 1px solid #e6e6e6;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 51px;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 680px;
  height: 45px;
}

.nav__li {
  height: 45px;
  line-height: 45px;
}

.nav__li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: inherit;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__li a:hover {
  border-bottom: 3px solid #f2576c;
  margin-bottom: -3px;
}

.nav__li:not(:last-child) {
  margin-right: 45px;
}

.basket:hover {
  cursor: pointer;
}

.basket-input {
  display: none;
}

.basket-input:checked ~ .basket-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket-input:checked ~ .basket-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
  opacity: 0.5;
}

.basket-block {
  display: none;
  position: fixed;
  z-index: 101;
  width: 850px;
  height: 550px;
  background-color: #fff;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.basket-content {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.basket-exit-button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 15px;
  margin-right: 15px;
  color: #222222;
}

.basket-exit-button:hover {
  color: #f16d7f;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 90%;
  height: 90%;
}

.subscribe__backSpace {
  height: 438px;
  margin-top: 100px;
  background-image: url(../../img/subscribe_bg.jpg);
  background-position: bottom;
  background-size: cover;
  background-color: #bbb;
  background-blend-mode: overlay;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: inherit;
}

.subscribe__leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 570px;
  border-right: 1px solid #fff;
}

.leftSide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 479px;
  height: 171px;
}

.user__text {
  margin-left: 28px;
  color: #222222;
}

.user__comment {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
}

.user__info {
  margin-top: 20px;
}

.user__info .user__info-name {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}

.user__info .user__info-country {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.user__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  height: 4px;
  margin-top: 41px;
}

.slider__block {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.slider__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: inherit;
}

.slider__block:hover {
  background-color: #f16d7f;
}

.slider__block-selected {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}

.subscribe__rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 570px;
}

.rightSide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 386px;
  height: 122px;
}

.subscribe__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #222222;
}

.subscribe__text-top {
  font-size: 24px;
  text-transform: uppercase;
}

.subscribe__text-bottom {
  font-size: 14px;
  line-height: 24px;
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 389px;
}

.subscribe__email input {
  width: 257px;
  height: 46px;
  padding-left: 28px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
}

.subscribe__email button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
}

.subscribe__email button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  color: #fff;
}

.subscribe__email button a:hover {
  background-color: #f2576c;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: 300px;
  margin-top: 100px;
}

.navigation__brandInfo {
  width: 428px;
  height: inherit;
}

.brandInfo__logo {
  width: 165px;
}

.brandInfo__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: inherit;
}

.logoName {
  height: 50px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
}

.logoName-letter {
  color: #f16d7f;
  font-weight: 900;
}

.brandInfo__text {
  width: inherit;
  height: 180px;
  margin-top: 29px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 608px;
  height: inherit;
}

.navigation__column {
  width: 155px;
  height: inherit;
}

.navigation__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #f16d7f;
}

.navigation__links {
  margin-top: 45px;
}

.navigation__links .navigation__link {
  margin-bottom: 30px;
}

.navigation__links .navigation__link a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
}

.navigation__links .navigation__link a:hover {
  color: #f16d7f;
}

.footer__backSpace {
  height: 80px;
  margin-top: 100px;
  background-color: #e6e6e6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.footer__rights {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 191px;
}

.footer__link {
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.footer__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  color: #b2b2b2;
}

.footer__link a:hover {
  background-color: #f16d7f;
  color: #fff;
}

.footer__link a:active {
  background-color: #ededed;
}

.newArrivals__backSpace {
  height: 148px;
  background-color: #f8f3f4;
}

.content__newArrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.newArrivals__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #f16d7f;
}

.newArrivals__navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #636363;
}

.newArrivals__navigation-link {
  margin-left: 2px;
  margin-right: 2px;
}

.newArrivals__navigation-link a {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
}

.newArrivals__navigation-link a:hover {
  font-weight: 700;
  color: #f16d7f;
}

.newArrivals__navigation-linkSelected a {
  font-weight: 700;
  color: #f16d7f;
}

.slider__backSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 777px;
  background: url(../../img/slider_bg.jpg) no-repeat center #f7f7f7;
}

.slider__swapLeft {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  float: left;
}

.slider__swapLeft a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: inherit;
}

.slider__swapLeft a i {
  color: #fff;
}

.slider__swapLeft:hover {
  background-color: #c5c5c5;
}

.slider__swapRight {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
}

.slider__swapRight a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: inherit;
}

.slider__swapRight a i {
  color: #fff;
}

.slider__swapRight:hover {
  background-color: #c5c5c5;
}

.content__womenCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 730px;
  margin-top: -85px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.womenCollection__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderName {
  margin-top: 73px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #f16d7f;
}

.sliderBorder {
  width: 63px;
  margin-top: -2px;
  border-bottom: 3px solid #f16d7f;
}

.sliderText-top {
  margin-top: 17px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.sliderText-bottom {
  width: 618px;
  margin-top: 67px;
  text-align: center;
  color: #5e5e5e;
  font-size: 14px;
  line-height: 24px;
}

.sliderMaterialDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 334px;
  margin-top: 28px;
}

.sliderMaterial {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.sliderMaterial .material {
  color: #b9b9b9;
}

.sliderDesigner {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.sliderDesigner .designer {
  color: #b9b9b9;
}

.sliderPrice {
  margin-top: 37px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #f16d7f;
}

.womenCollection__border {
  width: 642px;
  margin-top: 43px;
  border-bottom: 1px solid #eaeaea;
}

.womenCollection__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 538px;
  margin-top: 63px;
}

.characteristics__text {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.characteristics__colorSize {
  width: 129px;
  height: 35px;
  margin-top: 15px;
  padding-left: 15px;
  border: 1px solid #222222;
  color: #222222;
}

.characteristics__quantity-input {
  width: 103px;
  height: 33px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 9px;
  border: 1px solid #222222;
  color: #222222;
}

.characteristics__quantity-input::-webkit-input-placeholder {
  color: #222222;
}

.characteristics__quantity-input:-ms-input-placeholder {
  color: #222222;
}

.characteristics__quantity-input::-ms-input-placeholder {
  color: #222222;
}

.characteristics__quantity-input::placeholder {
  color: #222222;
}

.womenCollection__addToCart {
  width: 537px;
  height: 55px;
  margin-top: 30px;
  border: 1px solid #f16d7f;
}

.womenCollection__addToCart a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.womenCollection__addToCart a img[alt="basket_pink"] {
  margin-right: 15px;
}

.womenCollection__addToCart a img[alt="basket_white"] {
  display: none;
  position: absolute;
  margin-right: 100px;
}

.womenCollection__addToCart a:hover {
  background-color: #f16d7f;
  color: #fff;
}

.womenCollection__addToCart a:hover img[alt="basket_pink"] {
  opacity: 0%;
}

.womenCollection__addToCart a:hover img[alt="basket_white"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likeAlso__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.likeAlso__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  min-height: 375px;
  margin-top: 72px;
}

.likeAlso__product {
  width: 263px;
  height: 364px;
}

.likeAlso__product:hover .product__image-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.likeAlso__product:hover .product__description-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 263px;
  height: 280px;
  background-color: #e9e9e9;
}

.product__image-hidden {
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(58, 56, 56, 0.83);
}

.product__addToCart {
  width: 123px;
  height: 39px;
  border: 1px solid #fff;
}

.product__addToCart a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

.product__addToCart img {
  width: 23px;
  height: 22px;
}

.product__addToCart .addToCart {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.product__description {
  position: relative;
  width: 264px;
  height: 83px;
}

.product__description-hidden {
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product__description-top {
  padding-top: 17px;
  padding-left: 14px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__description-bottom {
  padding-top: 10px;
  padding-left: 14px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/*# sourceMappingURL=singlePage.css.map */